PORT=3000
API_URL='https://<app-name>.bitrix24.ru/'

VITE_API_PATH_DEALS_FIELDS='/rest/<user-id>/<webhook-id>/crm.deal.fields.json'
VITE_API_PATH_DEALS_LIST='/rest/<user-id>/<webhook-id>/crm.deal.list.json'
VITE_API_PATH_STATUS_LIST='/rest/<user-id>/<webhook-id>/crm.status.list.json'
VITE_API_PATH_USERS_LIST='/rest/<user-id>/<webhook-id>/user.get.json'
